<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição em um encontro que você está organizando!</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br>
  <strong>Data/Hora: </strong> {{ date }} <br>
  <br>
  <small>
    Faça esse encontro valer a pena :)
  </small>
</p>